#container {
  background-color: rgb(37, 24, 0);
  height: 600px;
  width: 400px;
  border: solid;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#display{
background-color: white;
width: 375px;
height: 100px;
margin: 20px 12px;
border-radius: 25px;
border: solid;
border-color: rgb(101, 101, 101);
display: flex;
justify-content: flex-end;
align-items: end;
}

#text{
  font-size: 48px;
  margin: 8px;
}

#backspace{
  font-size: 32px;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  border: solid;
  border-radius: 25px;
  border-color: white;
  margin-bottom: 10px;
  flex-grow: 1;
  width: 375px;
  justify-content: center;
  align-items: center;
  
}


.numbers{
  height: 350px;
  width: 300px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  margin: 4px;
}
.number, #clear{
  display: flex;
  background-color: rgb(255, 241, 87);
  width: 90px;
  height: 80px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-right: 2px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

